@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFE2C3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.intro {
  position: relative;
  height: 260px;
  width: 600px;
  background-color: #FBF2ED;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  margin-top: 20px;
  margin-bottom: 10px;
}

.intro h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #77966D;
  font-weight: 700;
}

.intro p {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
  font-weight: 500;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px; /* Espaço entre os cards */
}

.container {
  background-color: #FBF2ED;
  height: 250px;
  width: 400px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

.container:hover {
  font-weight: 800;
  background-color: #fae9dd;
}

.container:hover h1 {
  font-weight: 800;
  color: #626D58;
}

.container p {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: 500;
}

.container h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #77966D;
  font-weight: 600;
}
